* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #839AA8;
  display: flex;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar { 
  display: none;
}